@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.room{
    background-image: url("../../images/pt1.jpeg");
}
.hint{
    position: absolute;
    top: 5%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5%;
    width: 95%;
}
.note{
    background: transparent;
    position: absolute;
}
.note img{
    background: transparent;
    height: 5%;
    width: 5%;
    filter: blur(0.8px);
}
#note1{
    bottom: 20%;
    left: 10%;
}
#note2{
    bottom: 25%;
    left: 15%;
    filter: sepia(90%);
}
#note3{
    bottom: 35%;
    left: 18%;
    transform: rotate(-10deg);
}
.bookStack{
    position: absolute;
    bottom: 20%;
    left: 43%;
    height: 20%;
    background: transparent;
    filter: sepia(70%) blur(3px);
}
.cards{
    background: transparent;
    position: absolute;
    height: 10%;
    width: 10%;
    bottom: 10%;
    left: 20%;
    filter: sepia(30%) blur(0.8px);
}

.note:hover{
    cursor: pointer;
}

.cards:hover{
    cursor: pointer;
}

.bookStack:hover{
    cursor: pointer;
}

/* sticky notes */
.note-pressed{
    /*position: absolute;
    top: 20%;
    left: 10%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    z-index: +1;
}

.note-writing{
    position: absolute;
    top: 15%;
    left: 37.5%;
    transform: rotate(-9deg);
    width: 24%;
    z-index: +2;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

/* note 1 message */
.note1-message{
    text-align: center;
    /*height: 60%;
    width: 30%;*/
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    /*position: absolute;
    top: 30%;
    left: 55%;*/
    background: transparent;
    z-index: +1;
}
/* note 2 message */
.note2-message{
    text-align: center;
    /*height: 60%;
    width: 30%;*/
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    /*position: absolute;
    top: 30%;
    left: 55%;*/
    background: transparent;
    z-index: +1;
}
/* note 3 message */
.note3-message{
    text-align: center;
    /*height: 60%;
    width: 30%;*/
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    /*position: absolute;
    top: 30%;
    left: 55%;*/
    background: transparent;
    z-index: +1;
}

/* cards */
.cards-pressed{
    /*position: absolute;
    top: 25%;
    left: 3%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    z-index: +1;
}

.cards-message{
    text-align: center;
    /*height: 60%;
    width: 30%;*/
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    /*position: absolute;
    top: 30%;
    left: 55%;*/
    background: transparent;
    z-index: +1;
}

/* books message */
.books-message{
    background-color: transparent; 
    position: absolute; 
    top: 37.5%;
    left: 50%; 
    z-index: +1;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    text-align: center;
}

/* papers */
.accept{
    color: #fff;
    border: 1px solid #fff;
    padding: .4em 1.5em;
    text-decoration: none;
    background-color: transparent; 
}
.accept:hover{
    cursor: pointer;
}
.papers{
    /*position: absolute;
    top: 5%;
    left: 10%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 92%;
    z-index: +1;
}
.papers-message{
    text-align: center;
    /*height: 40%;
    width: 30%;*/
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    /*position: absolute;*/
    /*top: 30%;
    left: 55%;*/
    background: transparent;
    z-index: +1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .books-message {
        font-size: 15px;
    }

    /* papers */
    .accept {
        border: 0.5px solid #fff;
        padding: .2em 0.75em;
    }

    .papers-message {
        font-size: 15px;
    }

    .paper-window{
        flex-direction: column;
    }

    .papers {
        height: 69%;
        top: 2.5%;
        left: 5%;
    }

    .note-pressed {
        height: 35%;
    }

    .note-writing {
        font-size: 10px;
        position: absolute;
        /*top: 15%;
        left: 37.5%;
        width: 24%;*/
    }

    /* note 1 message */
    .note1-message{
        font-size: 15px;
    }

    /* note 2 message */
    .note2-message{
        font-size: 15px;
    }

    /* note 3 message */
    .note3-message {
        font-size: 15px;
    }

    /* cards */
    .cards-message{
        font-size: 15px;
    }

    .cards-pressed{
        height: 30%;
    }
}