.room{
    background-image: url("../../images/pt1.jpeg");
}
.note{
    background: transparent;
    position: absolute;
}
.note img{
    background: transparent;
    height: 5%;
    width: 5%;
    filter: blur(0.8px);
}
#note1{
    bottom: 20%;
    left: 10%;
}
#note2{
    bottom: 25%;
    left: 15%;
    filter: sepia(90%);
}
#note3{
    bottom: 35%;
    left: 18%;
    transform: rotate(-10deg)
}
.bookStack{
    position: absolute;
    bottom: 20%;
    left: 43%;
    height: 20%;
    background: transparent;
    filter: sepia(70%) blur(3px);
}
.smallCards{
    background: transparent;
    position: absolute;
    height: 10%;
    width: 10%;
    bottom: 10%;
    left: 20%;
    filter: sepia(30%) blur(0.8px);
}
/* button */
.button:hover{
    cursor: pointer;
}

.note:hover{
    cursor: pointer;
}

/* note is pressed */
.note-pressed{
    background: transparent;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: +1;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.note-pressed img{
    background: transparent;
    height: 120%;
}
/* note 1 message */
.note1-message{
    text-align: center;
    height: 40%;
    width: 30%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 30%;
    left: 55%;
    background: transparent;
    z-index: +1;
}
/* note 2 message */
.note2-message{
    text-align: center;
    height: 40%;
    width: 30%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 30%;
    left: 55%;
    background: transparent;
    z-index: +1;
}
/* note 3 message */
.note3-message{
    text-align: center;
    height: 40%;
    width: 30%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 30%;
    left: 55%;
    background: transparent;
    z-index: +1;
}